<html>
    <head>
    <style type="text/css">
        @page {
              size: letter;
              margin: 1cm;
              margin-bottom: 2.5cm;
         }
         tr, td, th {margin:0;padding:2;}
         tr.blue {background-color:#355190;margin:0;border:0;padding:0;}
         tr.bb {border-bottom: 1px solid black;}
         font.text {font-size: 10;}
     </style>
    </head>
    <body>
    {% block body %}
        <table>
            <tr height=40px>
                <td><img src="{{ url_for('static', filename='img/MTA.jpg', _external=True) }}" height=40 align=left /></td>
                <td><img src="{{ url_for('static', filename='img/LIRR.jpg', _external=True) }}" height=40 align=right /></td>
            </tr>
        </table>
        <table>
        <tr height="30" class="blue">
            <td><font size="20px" align="left" color="white"><b>ESA CM005 Daily Report for {{today}}</b></font></td>
        </tr>
        </table>
        <table>
              {%if entries %}
               {% for entry in entries %}
                <tr class="bb">
                  {% if entry.img %}
                  <td valign="top">
                  <img src="{{ url_for('static', filename='uploads/' + entry.img, _external=True) }}" width=400>
                  </td>
                  <td valign="top", align="left">
                  <font class="text">
                  <b>Date:</b> {{entry.date}}<br>
                  <b>Area:</b> {{entry.area.area}}<br>
                  <b>Location:</b> {{entry.location.location}}<br>
                  <b>Station Start:</b> {{entry.station_start}}<br>
                  <b>Station End:</b> {{entry.station_end}}<br>
                  <b>Quantity:</b> {{entry.quantity}}<br>
                  <b>Material:</b> {{entry.material.material}}<br>
                  <b>Notes:</b> {{entry.caption}}
                  </font>
                  </td>
                  {% else %}
                  <td valign="top">
                  <font class="text">
                  <b>Date:</b> {{entry.date}}<br>
                  <b>Area:</b> {{entry.area.area}}<br>
                  <b>Location:</b> {{entry.location.location}}<br>
                  <b>Station Start:</b> {{entry.station_start}}<br>
                  <b>Station End:</b> {{entry.station_end}}<br>
                  <b>Quantity:</b> {{entry.quantity}}<br>
                  <b>Material:</b> {{entry.material.material}}<br>
                  <b>Notes:</b> {{entry.caption}}
                  </font>
                  </td>
                  <td></td>
                  {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
            </table>
          {% endblock body %}
    </body>
</html>