{% extends "layout.html" %}
{% block content %}

    <form method="POST" action="/download_all_excel" name="submit" class="form-signin">
    <input type="submit" value="Export All Tracked Waterproofing as Excel" class="btn btn-primary"> </p>
    </form>
    <form method="POST" action="/download_dates_excel" name="submit" class="form-signin">
    <input type="submit" value="Export From xxx to xxxx as Excel (not working)" class="btn btn-primary"> </p>
    </form>
    <form method="POST" action="/download_BIM_excel" name="submit" class="form-signin">
    <input type="submit" value="Export for BIM Link (not working)" class="btn btn-primary"> </p>
    </form>

{% endblock content %}

