
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Tracking App Signin</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap_signin.css">

  </head>

  <body>
    <div class="container">

      Welcome to the App

      Users:
      {% for user in users %}
        {{user.id}} {{user.email}} {{user.password}} {{user.firstname}}  {{user.lastname}}
      {% endfor %}

  </body>
</html>
