{% extends "layout.html" %}
{% block content %}
    <div>
    <h3>Add an entry:</h3>
    <form method="POST" action="/">
    {{ form.hidden_tag() }}
    <p> {{ form.date.label }} {{ form.date(size=20) }} </p>
    <p> {{ form.station_start.label }} {{ form.station_start(size=20) }} </p>
    <p> {{ form.station_end.label }} {{ form.station_end(size=20) }} </p>
    <p> {{ form.quantity.label }} {{ form.quantity(size=20) }} </p>
    <p> {{ form.area.label }} {{ form.area(size=20) }} </p>
    <p> {{ form.location.label }} {{ form.location(size=20) }} </p>
    <p> {{ form.shift.label }} {{ form.shift(size=20) }} </p>
    <p> {{ form.start.label }} {{ form.start(size=20) }} </p>
    <p> {{ form.end.label }} {{ form.end(size=20) }} </p>
    <p> {{ form.material.label }} {{ form.material(size=20) }} </p>
    <p> {{ form.unit.label }} {{ form.unit(size=20) }} </p>
    <p> {{ form.laborer.label }} {{ form.laborer(size=20) }} </p>
    <p> {{ form.foreman.label }} {{ form.foreman(size=20) }} </p>
    <p> {{ form.supervisor.label }} {{ form.supervisor(size=20) }} </p>
    <p> <input type="submit" value="Submit"> </p>
    </form>
    </div>
{% endblock content %}
