<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ESA CM005 Tracking App</title>
    {% block head %} {% endblock head %}
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/custom.css">

  </head>
  <body>
    {% import 'macro.html' as macro %}
    <nav class="navbar navbar-default navbar-fixed" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">ESA-CM005</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% block navbar %} {% endblock navbar %}
      <ul class="nav navbar-nav navbar-right">
         <li> <a href="{{ url_for('track_waterproofing') }}">Inspector</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weekly Report<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('report_waterproofing') }}">View</a></li>
            <li><a href="{{ url_for('create_waterproofing') }}">Add</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Daily Report<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">View</a></li>
            <li><a href="">Add</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export Excel<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('download_bim_excel') }}">BIM Link</a></li>
            <li><a href="{{ url_for('download_all_excel') }}">All Data</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
    <div class="container">
        <div class="starter-template">

        {% block content %} {% endblock content %}

        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

  </body>
</html>
