{% extends "layout.html" %}

{% block navbar %}

 <form class="navbar-form navbar-left" method="POST" role="form">
    <div class="form-group">
    {{ form.hidden_tag() }}
    {% call macro.form_field(form.edit_date) %} {% endcall %}
    </div>
    <input type="submit" name="action" value="View Previous Report" class="btn btn-default">
    </form>

    <a href="{{ url_for('report_as_pdf', id=i.id) }}" class="navbar-form navbar-left"><button type="button" class="btn btn-default">Download Report as PDF</button></a>

{% endblock navbar %}

{% block content %}
    <h2> Waterproofing Installation Progress: East Cavern Walls as of {{i.date }}</h2>
    <div class="row">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static', filename='js/chartkick.js') }}"></script>
        {% bar_chart data %}
        <!--
        <figure>
            <iframe type="image/svg+xml" src="{{ url_for('svg', id=i.id) }}" height=400 width=100% scrolling="no" frameBorder=0></iframe>
        </figure>
        -->
    </div>
    <div class="row">
    <div class="col-lg-6">
          <center><img src="{{ '/static/uploads/' + i.bimimg_filename }}" width=90% /></center>
        </div>
        <div class="col-lg-6">
          <center><img src="{{ '/static/uploads/' + i.siteimg_filename }}" width=80% /></center>
        <p><center><b>{{ i.site_caption }}</b></center></p>
        </div>
    </div>
    <div class = 'row'>
    <div class="col-lg-6">
        <p><b>Progress Summary:</b> {{ i.summary }}</p>
        <p><b>Note:</b> {{ i.note}} </p>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Area</th>
                  <th>Location</th>
                  <th>Material</th>
                  <th>Unit</th>
                  <th>Quantity Installed</th>
                </tr>
              </thead>
              <tbody>
               {%- for key, value in sums.items()%}
               {% if value[3] %}
                <tr>
                    <td>{{value[0]}}</td>
                    <td>{{value[1]}}</td>
                    <td>{{value[2]}}</td>
                    <td>LF</td>
                  <td>{{value[3]}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td><b>Total Installed:</b></td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td><b>
                         {% for t in total %}
                            {{t.total}}
                        {% endfor %}
                        </b>
                    </td>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>

    </div>

{% endblock content %}
