{% extends "layout.html" %}
{% block content %}
    <h3>All entries in the database:</h3>
            {% for track in tracks %}
            <p>
            ID: {{track.id}} Timestamp: {{track.timestamp}} Date: {{track.date}}  Station Start: {{track.station_start}}
            Station End: {{track.station_end}} Quantity: {{track.quantity}} Laborers: {{track.laborer}} Foremen: {{track.foremen}} Super: {{track.supervisor}}
            {% for area in areas %}
                {% if area.id is sameas track.area_id %}
                    Area: {{area.area}} Location: {{area.location}}
                {% endif %}
            {% endfor %}
            {% for shift in shifts %}
                {% if shift.id is sameas track.shift_id %}
                    Shift: {{shift.shift}} Shift Start: {{shift.start}} Shift End: {{shift.end}}
                {% endif %}
            {% endfor %}
            {% for material in materials %}
                {% if material.id is sameas track.material_id %}
                    Material: {{material.material}} Unit: {{material.unit}}
                {% endif %}
            {% endfor %}
            </p>
            {% endfor %}
{% endblock content %}
