{% extends "layout.html" %}
{% block content %}

          <h2 class="page-header theme-showcase">Track: Waterproofing</h2>

          <div class="container">
            <form method="POST" action="" class="form-inline">
            {{ form.hidden_tag() }}
            <p>
            {% call macro.form_field(form.date) %} {% endcall %}
            {% call macro.form_field(form.quantity) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.station_start) %} {% endcall %}
            {% call macro.form_field(form.station_end) %} {% endcall %}
            </p>
            <div class="input-group input-group">
            <span class="input-group-addon">Area</span>
            {% call macro.form_field(form.area) %} {% endcall %}
            {% call macro.form_field(form.location) %} {% endcall %}
            </div>
            <p>
            <div class="input-group input-group">
            <span class="input-group-addon">Shift: </span>
            {% call macro.form_field(form.shift) %} {% endcall %}
            </div>
            </p>
            <p>
            <div class="input-group input-group">
            <span class="input-group-addon">Material: </span>
            {% call macro.form_field(form.material) %} {% endcall %}
            </div>
            </p>
            <p>
            {% call macro.form_field(form.laborer) %} {% endcall %}
            {% call macro.form_field(form.foreman) %} {% endcall %}
            {% call macro.form_field(form.supervisor) %} {% endcall %}
            </p>
            <p> <input type="submit" value="Submit" class="btn btn-primary"> </p>
            </form>
            </div>
            <div>
            <form method="POST" class="navbar-form navbar-left" >
            <input type="submit" value="Add Area" class="btn btn-sm btn-default">
            </form>
            <form method="POST" action="" class="navbar-form navbar-left" >
            <input type="submit" value="Add Shift" class="btn btn-sm btn-default">
            </form>
            <form method="POST" action="" class="navbar-form navbar-left" >
            <input type="submit" value="Add Material" class="btn btn-sm btn-default">
            </form>
            <form method="POST" action="/delete_entry" name="submit" class="navbar-form navbar-left" >
            <input type="submit" value="Delete Most Recent Entry" class="btn btn-sm btn-default">
            </form>
            </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Shift</th>
                  <th>Area</th>
                  <th>Location</th>
                  <th>Station Start</th>
                  <th>Station End</th>
                  <th>Quantity</th>
                  <th>Material</th>
                  <th>Laborers</th>
                  <th>Foremen</th>
                  <th>Supers</th>
                </tr>
              </thead>
              <tbody>
               {% for line in lines %}
                <tr>
                <td>{{line.id}} </td>
                  <td>{{line.date}} </td>
                    <td>{{line.shift.shift}}</td>
                    <td>{{line.area.area}}</td>
                    <td>{{line.location.location}}</td>
                  <td>{{line.station_start}}</td>
                  <td>{{line.station_end}}</td>
                  <td>{{line.quantity}}</td>
                    <td>{{line.material.material}}</td>
                  <td>{{line.laborer}}</td>
                  <td>{{line.foreman}}</td>
                  <td>{{line.supervisor}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock content %}

