{% extends "layout.html" %}
{% block content %}

          <h2 class="page-header">Track: Waterproofing</h2>
          <div >
            <form method="POST" action="" class="form-inline">
            {{ form.hidden_tag() }}
            {% call macro.form_field(form.date) %} {% endcall %}
            {% call macro.form_field(form.quantity) %} {% endcall %}
            <p>
            {% call macro.form_field(form.station_start) %} {% endcall %}
            {% call macro.form_field(form.station_end) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.area) %} {% endcall %}
            {% call macro.form_field(form.location) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.shift) %} {% endcall %}
            {% call macro.form_field(form.start) %} {% endcall %}
            {% call macro.form_field(form.end) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.material) %} {% endcall %}
            {% call macro.form_field(form.unit) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.laborer) %} {% endcall %}
            {% call macro.form_field(form.foreman) %} {% endcall %}
            {% call macro.form_field(form.supervisor) %} {% endcall %}
            </p>
            <p> <input type="submit" value="Submit" class="btn btn-primary"> </p>
            </form>
          </div>
          <p></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Shift</th>
                  <th>Shift Start</th>
                  <th>Shift End</th>
                  <th>Area</th>
                  <th>Location</th>
                  <th>Station Start</th>
                  <th>Station End</th>
                  <th>Quantity</th>
                  <th>Material</th>
                  <th>Unit</th>
                  <th>Laborers</th>
                  <th>Foremen</th>
                  <th>Supers</th>
                </tr>
              </thead>
              <tbody>
               {% for line in lines %}
                <tr>
                  <td>{{line.id}}</td>
                  <td>{{line.date}} </td>
                    <td>{{line.shift.shift}}</td>
                    <td>{{line.shift.start}}</td>
                    <td>{{line.shift.end}}</td>
                    <td>{{line.area.area}}</td>
                    <td>{{line.area.location}}</td>
                  <td>{{line.station_start}}</td>
                  <td>{{line.station_end}}</td>
                  <td>{{line.quantity}}</td>
                    <td>{{line.material.material}}</td>
                    <td>{{line.material.unit}}</td>
                  <td>{{line.laborer}}</td>
                  <td>{{line.foreman}}</td>
                  <td>{{line.supervisor}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock content %}

