{% extends "layout.html" %}
{% block content %}
        <h2 class="page-header">Track: Waterproofing</h2>

            <form method="POST" action="" class="form-inline">
            {{ form.hidden_tag() }}
            <p>
            {% call macro.form_field(form.date) %} {% endcall %}
            {% call macro.form_field(form.quantity) %} {% endcall %}
            </p>
            <p>
            {% call macro.form_field(form.station_start) %} {% endcall %}
            {% call macro.form_field(form.station_end) %} {% endcall %}
            </p>
            <div class="input-group input-group">
            <span class="input-group-addon">Area</span>
            {% call macro.form_field(form.area) %} {% endcall %}
            {% call macro.form_field(form.location) %} {% endcall %}
            </div>
            <p>
            <div class="input-group input-group">
            <span class="input-group-addon">Shift: </span>
            {% call macro.form_field(form.shift) %} {% endcall %}
            </div>
            </p>
            <p>
            <div class="input-group input-group">
            <span class="input-group-addon">Material: </span>
            {% call macro.form_field(form.material) %} {% endcall %}
            </div>
            </p>
            <p> <input type="submit" value="Submit" class="btn btn-primary"> </p>
            </form>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Shift</th>
                  <th>Area</th>
                  <th>Location</th>
                  <th>Station Start</th>
                  <th>Station End</th>
                  <th>Quantity</th>
                  <th>Material</th>
                </tr>
              </thead>
              <tbody>
               {% for line in lines %}
                <tr>
                <td>{{line.id}} </td>
                  <td>{{line.date}} </td>
                    <td>{{line.shift.shift}}</td>
                    <td>{{line.area.area}}</td>
                    <td>{{line.location.location}}</td>
                  <td>{{line.station_start}}</td>
                  <td>{{line.station_end}}</td>
                  <td>{{line.quantity}}</td>
                    <td>{{line.material.material}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-3">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_area_form">Add Area</button>

            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_shift_form">Add Shift</button>

            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_material_form">Add Material</button>
            </div>
            <div class="col-lg-2">
            <form method="POST" action="/delete_entry" name="submit" class="form-inline" >
            <input type="submit" value="Delete Most Recent Entry" class="btn btn-sm btn-primary">
            </form>
            </div>
          </div>
          <p></p>
         </div>

    <div class="modal fade" id="add_area_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new area and location</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                <div class="col-lg-4">
                <form action="/add_area" method="POST" enctype="multipart/form-data" class="form-default">
                 {{ form.hidden_tag() }}
                 {% call macro.form_field(area_form.area) %} {% endcall %}
                 {% call macro.form_field(area_form.location) %} {% endcall %}
                <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="add_shift_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new shift</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                <div class="col-lg-4">
                <form action="/add_shift" method="POST" enctype="multipart/form-data" class="form-default">
                    {{ form.hidden_tag() }}
                    {% call macro.form_field(shift_form.shift) %} {% endcall %}
                    {% call macro.form_field(shift_form.start) %} {% endcall %}
                    {% call macro.form_field(shift_form.end) %} {% endcall %}
                    <input type="submit" value="Submit" class="btn btn-primary"> </p>
                </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="add_material_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new material</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                <div class="col-lg-5">
                <form action="/add_material" method="POST" enctype="multipart/form-data" class="form-default">
                {{ form.hidden_tag() }}
                {% call macro.form_field(material_form.material) %} {% endcall %}
                {% call macro.form_field(material_form.unit) %} {% endcall %}
                <input type="submit" value="Submit" class="btn btn-primary"> </p>
                </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


